        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800;900&display=swap');

  		body {
			font-family: 'Manrope', sans-serif;
			margin: 0;
			padding: 0;
			height: 100vh;
			background-color: #f8f9fa;
			color: #525355;
			font-size: 22px;
			overflow-x: hidden;
		}

		.container {
			border: 1px solid #dee2e6;
			border-radius: 8px;
			height: 100vh;
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: 20px;
		}

		table {
			border-collapse: collapse;
			width: 100%;
			max-width: 100%;
			overflow-x: auto;
		}

		th, td {
			padding: 12px;
			text-align: left;
			font-weight: 500;
			word-wrap: break-word;
			white-space: nowrap;
		}

		.table-container {
			overflow-x: auto;
			overflow-y: auto;
			flex-grow: 1;
		}

		th {
			position: sticky;
			top: 0;
			z-index: 1;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		tr:hover {
			background-color: #e0e0e0;
		}

		::-webkit-scrollbar {
			width: 8px;
		}

		::-webkit-scrollbar-thumb {
			background: #888;
			border-radius: 10px;
		}

		::-webkit-scrollbar-thumb:hover {
			background: #555;
		}

		#svg-button-kapat {
			position: fixed;
			top: 13px;
			right: 81px;
			z-index: 1000;
		}

		#svg-button-kapat img {
			width: 222%;
			height: auto;
		}

		#svg-button {
			position: fixed;
			top: 18px;
			right: 88px;
			z-index: 10000;
		}

		#svg-button img {
			width: 450%;
			height: auto;
		}

		#scrollTopBtn {
			display: none;
			position: fixed;
			bottom: 13px;
			right: 13px;
			z-index: 999;
			background-color: #353535;
			color: #c1c4c2;
			border: none;
			padding: 30px 42px;
			cursor: pointer;
			font-size: 54px;
		}