        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800;900&display=swap');

        body {
            font-family: 'Manrope', sans-serif;
            margin-top: 0px;
            position: relative;
            min-height: 100vh;
            cursor: default;
        }

        .top-lines {
            display: flex;
            height: 3px;
            margin: 0;
            padding: 0;
        }
        .line {
            flex: 1;
            margin: 0;
        }
        .line1 { background-color: #b44ea7; } /* Mor */
        .line2 { background-color: #00aeee; } /* Mavi */
        .line3 { background-color: #9aca3c; } /* Yeşil */
        .line4 { background-color: #f99d1b; } /* Turuncu */

        .card {
            display: flex;
            flex-direction: column;
            height: 90%;
        }
        .card-body {
            flex-grow: 1;
        }
        .card-text i {
            margin-right: 4px;
            vertical-align: middle;
        }
        .icon-home {
            color: #b44ea7;
            font-size: 94%;
            transform: translate(-1px, -1px);
            display: inline-block;
        }
        .icon-phone {
            color: #00aeee;
            font-size: 90%;
            transform: translate(-1px, -1px);
            display: inline-block;
        }
        .boru-map {
            color: #f99d1b;
            margin-left: -2px;
        }
        .icon-map {
            color: #9aca3c;
        }
        .icon-clock {
            color: #525355;
            margin-left: -2px;
        }
        h1 {
            font-weight: 800;
            font-size: 30px;
            text-align: center;
        }
        .sub-title {
            font-weight: 600;
            font-size: 15.5px;
            text-align: center;
            color: #525355;
            margin-top: -20px;
        }
        .card-text, h1 {
            color: #525355;
        }
        a {
            color: #525355;
            text-decoration: none;
            font-weight: 500;
        }
        a:hover, a:focus, a:active {
            color: #98999c;
            text-decoration: none;
            font-weight: 500;
        }

        @media (max-width: 768px) {
            .col-md-6 {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        
        @media (min-width: 769px) {
            .col-md-6 {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        .footer {
            position: relative;
            padding: 0px;
            text-align: center;
            margin-bottom: 20px;
        }

        .footer p {
            font-size: 14px;
            color: #525355;
        }

        .oval-image {
            width: 32px;
            height: 32px;
            vertical-align: middle;
            margin-right: 5px;
            margin-bottom: 2px;
            border-radius: 12%;
            filter: brightness(1.25) contrast(0.95);
        }

        .eczane-isim {
            color: #525355;
            font-weight: 600;
        }

        .eczane-isim {
            animation: flash 1s infinite;
        }