.popup {
    position: fixed !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    border-radius: 2px;
    margin: 0;
    padding: 0;
}

.close {
    position: absolute;
    z-index: -1;
    font-size: 26px;
    cursor: pointer;
    color: #636467;
    background-color: white;
    padding: 8px;
    height: 9px;
    width: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.75s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.close.hidden {
    display: none;
}


.close:hover,
.close:focus {
    color: #ffffff;
    background-color: #3dc24e;
    text-decoration: none;
    cursor: pointer;
}

.gif-container {
    margin: 0;
    padding: 0;
    text-align: center;
}

.gif-container img {
    display: block;
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px) and (orientation: landscape) {
    .popup {
        width: 260px;
    }
    .close {
        top: 0px;
        right: -24px;
    }
}

@media (max-width: 767px) and (orientation: portrait) {
    .popup {
        width: 316px;
        top: 51.5%;
    }
    .close {
        top: -24px;
        right: 0px;
    }
}

@media (min-width: 768px) {
    .popup {
        width: 316px;
    }
    .close {
        top: -24px;
        right: 0px;
    }
}

.popup-content {
    padding: 0; 
    text-align: center;
}